<div *ngIf="product.title" class="card ">
  <img class="card-img-top img-thumbnail" style="height: 15rem" *ngIf="product.imgUrl" alt="{{ product.title }}"
    [src]="product.imgUrl">
  <div class="card-body">
    <h4 class="card-title"><b>{{ product.title }}</b></h4>
    <p class="card-text"><b>{{ product.price | currency:'INR'}}</b></p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer" style="padding: 0px">
    <button class="btn btn-secondary btn-block " (click)="addToCart()">Add to
      cart</button>
  </div>
</div>