<div class="container mr-lg-3 ml-lg-2" style="margin-top: 4rem; margin-bottom: 3rem;">
  <div class="row">
    <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
      <div class="product" *ngIf="imgURL; else loading">
        <img [src]=[imgURL] alt=" product.title">
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 pt-5">
      <h4 class="product-title mb-2">{{ product.title}}</h4>
      <h3 class="product-price display-5">{{product.price | currency:'INR'}}</h3>
      <p class="mb-0"><i class="fa fa-truck"></i> Free Delivery All Over India</p>
      <div class="row mt-4">
        <div class="col">
          <button *ngIf="!isAdmin" class="btn btn-cart" (click)="addToCart()">
            <i class="fas fa-shopping-cart"></i>
            ADD TO CART</button>
        </div>
        <div class="col">
          <!-- <button *ngIf="!isAdmin" class="btn btn-buy" (click)="buyNow()">
            <i class="fas fa-bolt"></i>
            BUY NOW</button> -->
        </div>
      </div>
      <dl class="row mt-4">
        <dt class="col-sm-3 features">Brand</dt>
        <dd class="col-sm-9">{{ product.brand }}</dd>
        <dt class="col-sm-3 features">Color</dt>
        <dd class="col-sm-9">{{ product.colour }}</dd>
        <dt class="col-sm-3 features">Height</dt>
        <dd class="col-sm-9">{{ product.height }} inch</dd>
        <dt class="col-sm-3 features">Width</dt>
        <dd class="col-sm-9">{{ product.width }} inch</dd>
        <dt class="col-sm-3 features">Material</dt>
        <dd class="col-sm-9">{{ product.material }}</dd>
      </dl>
    </div>
    <div class= "description">
      <h3>DESCRIPTION</h3>
      <p>{{ product.desc}}</p>
    </div>
  </div>
</div>
<ng-template #loading>
  <loading-spinner></loading-spinner>
</ng-template>
