<section class="sign-in">
	<div class="container">
		<div class="signin-content bgimg">
			<div class="signin-form maincont">
				<h2 class="form-title">Log In</h2>
				<small class="mt-0 mb-1 text-danger" *ngIf="error">{{error}}</small>
				<form #f="ngForm" (ngSubmit)="login(f.value)">
					<div class="form-group">
						<label for="email"><i class="zmdi zmdi-email"></i></label>
						<input ngModel email #email="ngModel" type="email" name="email" id="email"
							placeholder="Your Email" required />
						<small class="mt-0 mb-1 text-danger" *ngIf="email.touched && email.errors">
							<div *ngIf="email.errors.email && !email.errors.required">Please enter a valid Email.</div>
							<div *ngIf="email.errors.required">An Email is required.</div>
						</small>
					</div>

					<div class="form-group">
						<label for="pass"><i class="zmdi zmdi-lock"></i></label>
						<input ngModel #pass="ngModel" type="password" name="pass" id="pass"
							placeholder="Password (Min. 6 character)" pattern=".{6,}" required />
						<small class="mt-0 mb-1 text-danger" *ngIf="pass.touched && pass.errors">
							<div *ngIf="pass.errors.pattern">Password should be minimum 6 characters.</div>
							<div *ngIf="pass.errors.required">A Password is required is required.</div>
						</small>
					</div>

					<button class="form-submit btn" [disabled]="!f.valid">Log in</button>
					<div class="form-group form-button">

					</div>
					<div class="form-group form-button">
						<a routerLink="/sign-up">Create Your Account Here!!!</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
	<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>