<h1 class="mt-3">Cart</h1>
<div *ngIf="cart$ | async as cart">
  <div class="row">
    <div class="col">
      <h4>You have {{ cart.totalItemsCount }} items in cart.</h4>
    </div>
    <div class="col">
      <h5 class="float-right">Total Price: {{ cart.totalPrice | currency:'INR'}}</h5>
    </div>
    <div class="col">
      <button (click)="clearCart()" class="btn btn-sm btn-danger float-right"><strong>Clear Cart</strong></button>
    </div>
    <br />
    <br />
  </div>

  <div class="mx-auto" style="width:50rem; height:15rem ;">
    <div class="card border border-dark shadow h-50 mb-5 bg-black rounded" *ngFor="let item of cart.items">
      <div class="card-body my-auto">
        <div class="row">
          <div class="col" style="display: inline;">
            <div [style.backgroundImage]="'url(' + item.product.imgUrl +')'" class="thumbnail"> </div>
          </div>
          <div class="col align-middle" style="display: inline;">
            <h4 class="align-middle">{{ item.product.title }}</h4>
          </div>
          <div class="col-md-2" style="display: inline;">
            <product-quantity [product]="item.product" [shopping-cart]="cart">
            </product-quantity>
          </div>
          <div class="col" style="display: inline;">
            <h5 class="float-right">For {{ item.totalPrice  | currency:'INR'}} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>