<div class="row my-5">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">

      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" class="form-control" type="text"
          required>
        <small class="mt-0 mb-1 text-danger" *ngIf="title.touched && title.invalid">
          <div>Title is required.</div>
        </small>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">₹</span>
          <input #price="ngModel" [min]='0' [(ngModel)]="product.price" name="price" id="price" class="form-control"
            type="number" required>
        </div>
        <small class="mt-0 mb-1 text-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required.</div>
          <div *ngIf="price.errors.min">Price should be greater than 0.</div>
        </small>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" name="category" [(ngModel)]="product.category" id="category" class="form-control"
          required>
          <option value=""></option>
          <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
        </select>
        <small class="mt-0 mb-1 text-danger" *ngIf="category.touched && category.invalid">
          Category is required.
        </small>
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input #brand="ngModel" [(ngModel)]="product.brand" name="brand" id="brand" class="form-control" type="text"
          required>
        <small class="mt-0 mb-1 text-danger" *ngIf="brand.touched && brand.invalid">
          Brand Name is required.
        </small>
      </div>

      <div class="row my-2">
        <div class="form-group col-md-6">
          <label for="colour">Colour</label>
          <input #colour="ngModel" [(ngModel)]="product.colour" name="colour" id="colour" class="form-control"
            type="text" required>
          <small class="mt-0 mb-1 text-danger" *ngIf="colour.touched && colour.invalid">
            Colour should be specified.
          </small>
        </div>

        <div class="form-group col-md-6">
          <label for="material">Material</label>
          <input #material="ngModel" [(ngModel)]="product.material" name="material" id="material" class="form-control"
            type="text" required>
          <small class="mt-0 mb-1 text-danger" *ngIf="material.touched && material.invalid">
            Material type should be specified.
          </small>
        </div>
      </div>

      <div class="row my-2">
        <div class="form-group col-md-4">
          <label for="height">Height</label>
          <input #height="ngModel" [(ngModel)]="product.height" name="height" id="height" [min]='0' class="form-control"
            type="number" required>
          <div class="input-group-prepend">
            <div class="input-group-text">inch</div>
          </div>
          <small class="mt-0 mb-1 text-danger" *ngIf="height.touched && height.invalid">
            <div *ngIf="height.errors.required">Height is required.</div>
            <div *ngIf="height.errors.min">Height should be greater than 0.</div>
          </small>
        </div>

        <div class="form-group col-md-4">
          <label for="width">Width</label>
          <input #width="ngModel" [(ngModel)]="product.width" name="width" id="width" [min]='0' class="form-control"
            type="number" required>
          <div class="input-group-prepend">
            <div class="input-group-text">inch</div>
          </div>
          <small class="mt-0 mb-1 text-danger" *ngIf="width.touched && width.invalid">
            <div *ngIf="width.errors.required">Width is required.</div>
            <div *ngIf="width.errors.min">Width should be greater than 0.</div>
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="desc">Description</label>
        <input #desc="ngModel" [(ngModel)]="product.desc" name="desc" id="desc" class="form-control" type="text"
          required>
        <small class="mt-0 mb-1 text-danger" *ngIf="desc.touched && desc.invalid">
          Enter Product Description.
        </small>
      </div>

      <div *ngIf="!id" class="form-group">
        <label for="imgUrl">Image</label>
        <input #file style="display:none" name="image" id="image" type="file" (change)="preview(file.files)"
          accept="image/*">
        <button type="button" (click)="file.click()">Choose Image</button>
        <small class="mt-0 mb-1 text-danger" *ngIf="file.touched && file.invalid">
          Image is required.
        </small>
      </div>

      <button class="btn btn-success" [disabled]="!f.valid">Add</button>
      <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger ml-3">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <div *ngIf="product.title" class="card ">
      <img class="card-img-top img-thumbnail" style="height: 15rem" *ngIf="imgURL;else loading;"
        alt="{{ product.title }}" [src]="imgURL">
      <div class="card-body">
        <h4 class="card-title"><b>{{ product.title }}</b></h4>
        <p class="card-text"><b>{{ product.price | currency:'INR'}}</b></p>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <loading-spinner></loading-spinner>
</ng-template>