<form #f="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors.required">Name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <textarea rows="5" cols="78" #address="ngModel" name="address" [(ngModel)]="shipping.address" type="text"
      class="form-control" placeholder="Address" required>

    </textarea>

    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
      <div *ngIf="addressLine2.errors.required">Address required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="phno">Mobile Number</label>
    <input #phno="ngModel" name="phno" [(ngModel)]="shipping.phno" type="number" pattern=".{10,10}" class="form-control"
      required>
    <div class="alert alert-danger" *ngIf="phno.touched && phno.invalid">
      <div *ngIf="phno.errors.required">Phone Number is required.</div>
      <div *ngIf="phno.errors.required">Phone Number lenght should be 10.</div>
    </div>
  </div>
  <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary">Place Order</button>
</form>